.env
secret.py
.vscode/
__pycache__/
TODO.md
*.md
app/
static/uploads/
*.log
venv/
.DS_Store
FEATURES_ADDED.md
worker.py
test_*.py
test_*
debug_*
mock_*.py
fix_emoji_slugs.py
locustfile.py

firebase-service-account.json
patch_base.py
scripts/
fix_valentine.py
