body{
   direction: flex;
   flex-direction: row;
   align-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login{
    justify-items: center;
}
a {
color: #00008B;
font-weight: bold;
text-decoration: none;
}
button{
    font-weight: bold;
    background-color: darkgray;
    border: 10px;
}