
{% extends "base.html" %}

{% block content %}
<body>
    <main>
        <div class="login-container" id="login-container">
            <div class="form-container">
                <form class="form form-login" method="POST" action="{{ url_for('login') }}">
                    <h2 class="form-title">Log in here</h2>
                    <div class="inputs">
                        <input class="form-input" type="text" name="username" placeholder="Username" required>
                        <input class="form-input" type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-links-container">
                        <a href="#" class="form-links">Forgot password?</a>
                        <a href="{{ url_for('resend_confirmation') }}" class="form-links">Resend confirmation email?</a>
                    </div>
                    <button type="submit" class="form-button">Login</button>
                    <p class="mobile-text">Don't have an account ? 
                        <a href="#" id="open-register-mobile">Register</a>
                    </p>
                </form>

                <form class="form form-register" method="POST" action="{{ url_for('register') }}">
                    <h2 class="form-title">Create an account</h2>
                  <div class="inputs">
                    <input class="form-input" type="text" name="username" placeholder="Username" required>
                    <input class="form-input" type="email" name="email" placeholder="Email" required>
                    <input class="form-input" type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="form-button">Register</button>
                <p class="mobile-text">Already have an account ?
                    <a href="#" id="open-login-mobile">Login</a>
                </p>
                </form>
            </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <h2 class="form-title form-title-light">Already have an account ?</h2>
                        <p class="form-text">Log in with your details.</p>
                        <button type="button" class="form-button form-button-light" id="open-login">Login</button>
                    </div>
                    <div class="overlay">
                        <h2 class="form-title form-title-light">You don't have an account?</h2>
                        <p class="form-text">Register and to be part of the community</p>
                        <button type="button" class="form-button form-button-light" id="open-register">Register</button>
                    </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}