{% extends "base.html" %}

{% block content %}
<body>
    <main>
        <div class="auth-container">
            <div class="auth-forms">
                <form class="auth-form active" method="POST" action="{{ url_for('forgot_password') }}">
                    <h2 class="form-title">Forgot Password</h2>
                    <p class="form-description">Enter your email address and we'll send you a link to reset your password.</p>
                    <div class="inputs">
                        <input class="form-input" type="email" name="email" placeholder="Email" required>
                    </div>
                    <button type="submit" class="form-button">Send Reset Link</button>
                </form>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
{% endblock %}
