{% extends "base.html" %}

{% block title %} <title>Home</title> {% endblock %}

{% block content %}
<div class="main-content-area">
    <header class="page-header">
        <h1>Welcome Back, {{ username }}!</h1>
        <p>Welcome to the echowithin website. EchoWithin is a podcast group where the unspoken but real are uncovered.</p>
        <p>Learn and sharpen your skills with people while engaging in debates or just posting your mind.</p>
    </header>

    <div class="action-cards">
        <div class="card">
            <h3>Explore our Blog</h3>
            <p>Read the latest posts from our community or share your own thoughts.</p>
            <a href="{{ url_for('blog') }}" class="form-button">Go to Blog</a>
        </div>
    </div>
</div>
{% endblock %}