{% extends "base.html" %}

{% block title %}
<title>Reset Your Password</title>
{% endblock %}

{% block content %}
<main>
    <div class="auth-container" style="max-width: 500px; margin: 4rem auto;">
        <div class="auth-forms">
            <form id="reset-password-form" class="auth-form active" method="POST"
                action="{{ url_for('reset_password', token=token) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <h2 class="form-title">Reset Your Password</h2>
                <p style="text-align: center; margin-bottom: 1.5rem;">Enter a new username and password below.</p>

                <div class="inputs">
                    <input type="text" name="username" class="form-input" placeholder="New Username"
                        value="{{ current_username or '' }}" required>
                    <div class="password-input-container">
                        <input type="password" name="password" class="form-input password-input"
                            placeholder="New Password" required>
                        <i class="far fa-eye password-toggle-icon"></i>
                    </div>
                    <div class="password-input-container">
                        <input type="password" name="confirm_password" class="form-input password-input"
                            placeholder="Confirm New Password" required>
                        <i class="far fa-eye password-toggle-icon"></i>
                    </div>
                </div>
                <button type="submit" class="form-button">Reset Password</button>
            </form>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Password Toggle Functionality
        const passwordToggles = document.querySelectorAll('.password-toggle-icon');

        passwordToggles.forEach(toggle => {
            toggle.addEventListener('click', function () {
                const passwordInput = this.previousElementSibling;
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                this.classList.toggle('fa-eye-slash');
            });
        });
    });
</script>
{% endblock %}