{% extends "base.html" %}

{% block content %}
<body>
    <main>
        <div class="auth-container">
            <div class="auth-forms">
                <form class="auth-form active" method="POST" action="{{ url_for('reset_password', token=token) }}">
                    <h2 class="form-title">Reset Password</h2>
                    <p class="form-description">Enter your new password.</p>
                    <div class="inputs">
                        <input class="form-input" type="password" name="password" placeholder="New Password" required>
                        <input class="form-input" type="password" name="confirm_password" placeholder="Confirm New Password" required>
                    </div>
                    <button type="submit" class="form-button">Reset Password</button>
                </form>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
{% endblock %}
